{% import "macro.twig" as macros %}
{% extends "__layout.twig" %}
{% set url = "/games/"~ object.id %}

{% block content %}
	<div>
		<h2>{{object.title}}</h2>
		<p>{{object.description}}</p>
		
	</div>
	{{ macros.btnMenu( "Картинка", url ~"?show=image", is_image )}}
	{{ macros.btnMenu( "Описание", url ~"?show=info", is_info )}}
    <br>
	{% if is_image %}
		<img src="{{ object.image }}" style="width: 300px;"/>
	{% endif %}
	{% if is_info %}
		<p>{{object.info}}</p>
	{% endif %}
	

{% endblock %}
